<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="<%=featureNamespace%>.IoC.RegisterDependencies, <%=featureNamespace%>" />
        </services>
        <experienceAccelerator>
            <!--List of renderings for which a data source is automatically created after adding that rendering to a page.-->
            <autoDatasourceRenderings>
                <rendering name="<%=featureName%>">{<%=renderingItemGuid%>}</rendering>
            </autoDatasourceRenderings>
        </experienceAccelerator>
    </sitecore>
</configuration>